.card {
    .thumbnail {
        background: rgb(236, 238, 240);
        border-radius: 6px;
    }

    .cardBody {
        padding: 12px;
    }

    .number {
        font-size: 15px;
        font-weight: bold;
        color: rgb(146, 152, 161);
    }

    .name {
        margin: 6px 0;
        font-size: 20px;
        color: rgb(49, 49, 49);
    }

    .types {
        margin: 6px 0;
        padding: 0;
        list-style: none;
        display: flex;
        font-size: 14px;
        text-transform: capitalize;
    }

    .type {
        text-align: center;
        background: gray;
        padding: 3px 12px;
        margin-right: 6px;
        border-radius: 2px;
    }
}
