.container {
    display: flex;
    justify-content: space-evenly;
    background: rgb(48, 48, 48);
    padding: 16px;
    color: white;

    h4 {
        margin: 0 0 12px 0;
        font-size: 18px;
        font-weight: normal;
    }

    .instruction {
        padding: 20px;
        background-color: #4dad5b;
    }

    form {
        width: 30%;
        display: flex;
    }

    form input {
        flex-grow: 1;
        height: 26px;
        padding: 0 12px;
        margin-right: 6px;
    }

    form button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: white;
        background-color: #d35f2a;
    }
}
